<li class="nav-item">
  <a
    class="nav-link js-scroll-trigger"
    href="{{ 'resume.html#about' | relative_url }}"
    >About</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link js-scroll-trigger"
    href="{{ 'resume.html#experience' | relative_url }}"
    >Experience</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link js-scroll-trigger"
    href="{{ 'resume.html#education' | relative_url }}"
    >Education</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link js-scroll-trigger"
    href="{{ 'resume.html#skills' | relative_url }}"
    >Skills</a
  >
</li>
<li class="nav-item">
  <a
    class="nav-link js-scroll-trigger"
    href="{{ 'resume.html#portfolio' | relative_url }}"
    >Portfolio</a
  >
</li>
