<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Andrew Jennings</span>
                <span class="d-none d-lg-block">
                    <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{{ '/assets/img/profile.png' | relative_url }}" alt="">
                </span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    {% if page.nav_include %}
                    {% include {{ page.nav_include }} %}
                    {% endif %}
                </ul>
            </div>
        </nav>

        <div class="container-fluid p-0">
            {% if page.content_include %}
            {% include {{ page.content_include }} %}
            {% else %}
            {{ content }}
            {% endif %}
        </div>

        {% include scripts.html %}

    </body>

</html>
